* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
body {
  width: 100%;
  height: 100%;
}
.header-navbar{
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-navbar-inner{
  width: 80%;
}
.site-logo {
  width: 100px;
  background-color: transparent;
}
.owl-img img {
  width: 85% !important;
}
.owl-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-main-h1{
   font-weight: 900 !important;

}
.login {
  color: #06817d !important;
  font-size: 22px;
  margin-right: 30px;
  font-weight: 500;
}
.signup {
  border: 2px solid #06817d;
  border-radius: 50px;
  padding: 10px 26px !important;
  color: #06817d !important;
  font-size: 18px;
  font-weight: 500;
}
.banner-inner-main-container {
  width: 75%;
}
.banner-inner-main-container p {
  color: black;
  font-weight: 600;
}
.navbar-inner {
  width: 80%;
}
.banner-inner-main-container h1 {
  color: #ff7070;
  font-weight: 800;
}
.banner-btn {
  background-color: #fff;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 50px;
  color: #ff7070;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
}
.banner-inner-main-pp {
  padding: 25px 40px !important;
}
.banner-btn-register {
  width: 90% !important;
}
.membership-btn {
  background: #ff7070;

  color: lightgray;
}
.membership-btn span {
  color: #fff !important;
}
.membership-row-div h1 {
  color: #ff7070;
  font-weight: 700;
}
.banner-img {
  background-image: url("./Images/unsplash_376KN_ISplE.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}
.banner-inner-main {
  width: 85%;
  background: #fff;
  border-radius: 30px;
}
.membership-row {
  width: 85%;
}
.membership-row-inner {
  padding: 30px 50px !important;
}
.register h1 {
  font-size: 40px;
}
.membership-img {
  width: 100%;
}
.work-row {
  width: 80%;
}
.carousel-inner-box {
  border-radius: 20px;
  padding: 20px 45px;
}
.carousel-inner-box-line {
  line-height: 30px;
}
.carouse-mentor {
  width: 100% !important;
}
.carousel-first {
  width: 80% !important;
}
.carouselfirst-inner-box {
  background-color: #06817d;
  border-radius: 20px;
}

.google-outer-text {
  width: 85%;
}
.google-outer-text h1 {
  width: 100%;
}

.tab-inner-main {
  width: 83%;
}
.tab-content {
  border: none !important;
}
.tab-pane {
  border: none !important;
}
.nav-tabs {
  border: none !important;
  padding: 0 !important;
  flex: 0.55;
}
.tab-content {
  flex: 0.45;
}
.tab-main-2 {
  display: none;
}
.tab-main-1 {
  display: flex !important;
}
.nav-tabs .nav-item a {
  padding: 15px 30px !important;
  color: gray !important;
  font-size: 18px;
  background-color: rgb(228, 226, 226);
  border-radius: 5px;
}
.nav-tabs .nav-item .active {
  color: #fff !important;
  background-color: #ff7070 !important;
}
.border-chemistry-outer {
  width: 35%;
}
.sec-inner {
  border: 1px solid #ff7070;
  border-radius: 35px;
  height: 60px;
  background-color: #fff;
}
.sec-inner img {
  width: 38px;
  padding: 0;
  margin-right: 10px;
}
.sec-inner p {
  font-size: 14px;
}
.program-banner-main {
  width: 80%;
}
.mentor-card {
  width: 65%;
}
.mentor-main {
  margin-bottom: 50px;
}
.mentor-main h1 {
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 600;
}
.social-icon i {
  border-radius: 50%;
  padding: 17px;
  border: 1px solid gray;
  font-size: 22px;
  color: gray;
  margin-bottom: 10px;
}
.social-icon {
  width: 45%;
  margin-bottom: 30px;
}
.social-icon i:hover {
  border: 1px solid red;
  color: red;
}
.footer-last {
  padding: 0 20px;
  text-align: center;
  line-height: 30px;
  color: grey;
}
.min-footer {
  width: 80%;
  padding: 20px 0;
  margin-bottom: 20px;
}
.min-footer a {
  cursor: pointer;
  margin-right: 10px;
  color: grey;
  font-weight: 700;
}
.min-footer a:hover {
  color: lightgrey;
  list-style: none;
  text-decoration: none;
}
.last-btn {
  padding-bottom: 80px;
}
.min-fotter-main {
  width: 100%;
}
.fotter {
  padding: 30px 0;
}
.should-outer {
  background: url("./Images/box21.png");
}
.should-last {
  width: 60%;
}
.should-main {
  padding: 30px 0;
  width: 85%;
}
.should-main h1 {
  margin-bottom: 40px;
  font-size: 50px;
  width: 60%;
}
.should-outer-main {
  padding: 60px 0;
}
.should-inner {
  width: 80%;
}
.should-outer p {
  font-weight: 600;
  width: 80%;
  font-size: 20px;
}
.should-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: none;
  background: black;

  border-radius: 20px;
  padding: 7px;
}
.should-bar p {
  margin-top: 10px;
  color: #fff;
}
.should-bar img {
  margin-right: 10px;
}
.faq-outer {
  width: 55% !important;
}
.faq-main {
  width: 90%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px 10px;
  background-color: #fff;
}
.faq-main-outer {
  padding: 70px 0;
}
.faq-outer h1 {
  margin-left: 40px;
  font-size: 45px;
  width: 18%;
  border-bottom: 3px solid black;
}
.card-blank div {
  background-color: lightgray;
  border-radius: 20px;
  height: 16px;
}

.card-color h5 {
  color: #ff7070;
}
.card-color {
  padding: 0 10px;
  width: 65%;
  height: 100%;
}
.card-main-outer {
  width: 75%;
}
.card-color p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
}
.card-outer {
  border-radius: 30px;
  max-width: 500px;
  background-color: #fff;
  height: 230px !important;
  border: 1px solid gray;
}
.card-border {
  background-color: lightgray;
  border-radius: 30px;
  height: 100%;
  width: 35%;
}
.card-border img {
  width: 75% !important;
  margin-bottom: 5px;
}
.banner-last {
  border-radius: 20px;
  border: 1px solid black;
  padding-top: 30px;
  padding-bottom: 80px;
  width: 70%;
}
.banner-last h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}
.banner-last p {
  width: 80%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.banner-last-outer {
  margin: 50px 0;
}
.banner-last-img {
  margin-top: -70px;
  width: 50%;
  border-radius: 30px !important;
  border: none !important;
}
.owl-carousel {
  width: 85% !important;
}
.carousel-main {
  background-color: #e5e5e5;
  padding: 70px 0;
}
.carousel-main h1 {
  margin-bottom: 50px;
  font-size: 50px;
}
.carouselfirst-inner {
  padding: 0 90px;
  height: 380px;
  width: 50%;
}

.carouselfirst-inner-main {
  padding: 100px 0;
  background-color: #e5e5e5;
}
.carouselfirst-inner h1 {
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0px;
}
.car-inner img {
  width: 60px !important;
}
.carouselfirst-inner span {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
.carouselfirst-inner-p {
  font-size: 25px;
  font-weight: 600;
}
.owl-img img{
  width: 60% !important;
}
.carouselfirst-inner-p-last {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: gray;
  letter-spacing: 0px;
  text-align: left;
}
.car-inner {
  padding: 20px 60px;
  background: #292556;
  border-radius: 20px;
  width: 75%;
}
.card-inner-img {
  width: 15% !important;
  margin-right: 10px;
}
.car-inner-p {
  font-size: 15px;
  line-height: 30px;
  padding-right: 20px;
}

#carouselSec {
  display: flex;
  flex-direction: column;
}
#carouselFirst {
  display: flex;
  flex-direction: column;
}
#carouselThird {
  display: flex;
  flex-direction: column;
}
#carouselSec .owl-nav {
  position: relative;
  width: 20%;
  align-self: flex-end;
}
#carouselFirst .owl-nav {
  position: relative;
  width: 20%;
  align-self: flex-end;
}
#carouselThird .owl-nav {
  position: relative;
  width: 20%;
  align-self: flex-end;
}
.carouselfirst .owl-dots {
  top: 85% !important;
}
#carouselThird .owl-dots {
  top: 85% !important;
}
#carouselFirst .owl-dots {
  top: 85% !important;
}
#carouselSec .owl-dots {
  position: absolute;
  width: 80%;
  top: 90%;
}
#carouselFirst .owl-dots {
  position: absolute;
  width: 80%;
  top: 90%;
}
#carouselThird .owl-dots {
  position: absolute;
  width: 80%;
  top: 90%;
}
.carouselSec {
  width: 90% !important;
}
#carouselSec .owl-dots .owl-dot {
  width: 50%;
}
#carouselFirst .owl-dots .owl-dot {
  width: 50%;
  color: red !important;
}
#carouselThird .owl-dots .owl-dot {
  width: 50%;
  color: red !important;
}
.owl-carousel .active span {
  background-color: #ff7070 !important;
}
.owl-carousel .owl-dots .owl-dot span {
  width: 98% !important;
  height: 5px !important;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  background-color: #ff7070 !important;
  font-size: 25px !important;
  border-radius: 12px !important;
  color: #fff !important;
  width: 30% !important;
  height: 50px !important;
}
.content {
  background: #fff;
  border-radius: 3px;
  border: none;
  padding: 30px;
}
.panel {
  border-bottom: 1px solid lightgray;
}

.panel-group {
  margin-bottom: 0;
}
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}
.panel-group .panel .panel-heading {
  padding: 0;
}
.panel-group .panel .panel-heading h4 a {
  background: #fff;
  color: black;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:hover,
.panel-group .panel .panel-heading h4 a:not(.collapsed) {
  background: #fff;
  transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
  content: "ï¨";
}
.panel-group .panel .panel-heading h4 a i {
  color: #999;
}
.panel-group .panel .panel-body {
  padding: 0 15px;
  color: gray;
}
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}
.panel-group .panel + .panel {
  border-top: none;
  margin-top: 0;
}

.carouselfirst-inner-text {
  margin-left: 110px;
  font-size: 50px;
}
.tab-inner p {
  background: #ff7070;
  border-radius: 10px;
  text-align: center;
  padding: 15px 5px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.tab-inner {
  padding: 0 10px;
}
.tab-outer {
  width: 80%;
}
.tab-lower {
  color: black;
  padding: 25px 20px;
  background: rgba(255, 112, 112, 0.05);
}
.tab-lower p {
  line-height: 30px;
  color: black !important;
}
.nav-tabs .nav-link {
  font-weight: 800;
}
.tab-lower h1 {
  font-weight: 800;
}

.socialMedia {
  color: #fff;
  padding: 8px 25px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
}

#main {
  margin: 50px 0;
}

#main #faq .card {
  margin-bottom: 15px;
  border: 0 !important;
}
#main #faq .card .card-header {
  border: 0;
  border-radius: 2px;
  padding: 0;
}
#main #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #ff7070;
  color: #fff;
  padding: 8px;
  font-size: 16px;
}

#main #faq .card .card-header .btn-header-link:after {
  font-weight: 900;
  float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  background: lightgray;
  color: black;
}

#main #faq .card .collapsing {
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  background: #fff8f8;
  line-height: 30px;
  color: #fff;
}
@media (max-width: 958px) {
  .banner-inner-main-text {
    font-size: xx-large !important;
  }
  .banner-inner-main-container {
    font-size: smaller !important;
    width: 95%;
  }
  .banner-inner-main {
    width: 95%;
  }
  .membership-row {
    width: 90% !important;
  }
  .membership-row-text {
    font-size: xx-large;
  }
  .header-navbar-inner{
    width: 95%;
  }
  .membership-row-div h1 {
    font-size: x-large !important;
  }
  .membership-row-div p {
    font-size: smaller;
  }
}
@media (max-width: 777px) {
  .min-footer {
    width: 90% !important;
  }
  .should-bar p {
    font-size: 15px;

  }
  .banner-btn {
    font-size: 16px;
    letter-spacing: normal;
    padding: 10px 5px;
    border-radius: 5px;
  }

  .owl-carousel .owl-nav {
    width: 50% !important;
  }
  .google-outer-text {
    width: 95%;
  }
  .tab-main-h1{
    font-size: 28px;
    margin-bottom: 20px;
  }
  .btn-header-link{
    font-size: 11px !important;
  }
  .login {
    color: #fff !important;
  }
  .membership-btn{
    padding: 10px 3px !important;
    font-size: 15px;
  }
  .owl-img img {
    width: 100% !important;
  }
  .card-text {
    font-size: 15px;
  }
  .signup {
    border: 2px solid #fff;
    color: #fff !important;
  }
  .faq-ot {
    width: 95% !important;
  }
  .tab-main-2 {
    display: flex;
  }
  .tab-main-1 {
    display: none !important;
  }
  .span-color {
    color: #ff7070;
  }
  .remove-bg {
    background-color: #fff !important;
    padding: 0 !important;
  }
  .banner-inner-main {
    border-radius: 0;
    width: 100%;
  }
  .banner-inner-main-pp {
    padding: 0 10px !important;
    order: 2;
  }
  .banner-img {
    height: 400px;
    border-radius: 0;
    order: 1;
  }
  .banner-inner-main-text {
    font-size: 38px !important;
    text-align: left;
  }
  .should-last {
    width: 100% !important;
  }
  .banner {
    width: 100% !important;
  }
  .banner-inner-main-container {
    width: 100% !important;
  }
  .nav-item {
    align-self: center;
  }
  .log {
    margin-left: 30px;
  }
  .banner-inner-main-container h1 {
    font-size: 25px;
  }
  .banner-inner-main-container p {
    font-size: 14px;
  }
  .membership-row {
    width: 100%;
    text-align: center;
  }
  .membership-row-text {
    font-size: 30px !important;
  }
  .membership-row-div h1 {
    font-size: 13px;
  }
  .membership-row-div p {
    font-size: 11px;
  }
  .membership-row-inner {
    padding: 0 !important;
  }
  .banner-btn-register {
    padding: 10px 3px !important;
    font-size: 16px !important;
    width: 100% !important;
  }
  .register img {
    width: 4%;
    margin-top: 5px;
  }
  .membership-img {
    width: 95%;
  }
  .frame p {
    line-height: normal !important;
    font-size: 13px;
  }
  .frame-inner {
    display: flex;
    width: 100% !important;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .frame-inner-outer{
    padding: 0 !important;
  }
  .frame{
    padding:0 15px !important;
  }
  .frame-inner h1 {
    font-size: 10px;
  }
  .membership-row {
    width: 100%;
  }
  .work-row {
    width: 100% !important;
  }
  .padding-work {
    padding: 0 !important;
  }
  #carouselSec .owl-nav {
    width: 50%;
  }
  #carouselFirst .owl-nav {
    width: 50%;
  }
  .carousel-inner-box {
    border-radius: 20px;
    padding: 10px 20px;
  }
  .owl-carousel {
    width: 100% !important;
  }
  .student-inner p {
    width: 99% !important;
    font-size: 18px;
  }
  .student-inner h1 {
    font-size: 28px;
  }
  .student-btn {
    margin-top: 15px;
    padding: 10px !important;
    font-size: 15px !important;
  }
  .carouselfirst-inner-text {
    margin-left: 0 !important;
  }
  .should-main {
    width: 100% !important;
  }
  .should-main h1 {
    font-size: 40px;
    width: 100%;
  }
  .should-inner {
    width: 95%;
  }
  .tab-outer {
    width: 100% !important;
  }
  .faq-outer {
    width: 100% !important;
  }
  .faq-main {
    width: 100% !important;
    flex-direction: column;
  }
  .faq-main-outer {
    padding: 30px 0;
  }
  .content {
    padding: 0;
  }
  .nav-pills {
    padding: 0 !important;
  }
  .nav-pills-inner {
    padding: 0 !important;
  }
  .faq-outer h1 {
    margin-left: 15px;
  }
  .faq-main img {
    width: 75% !important;
  }
  .social-icon {
    width: 90%;
  }
  .social-icon i {
    margin-right: 15px;
  }
  .register h1 {
    font-size: 30px;
  }
  .register{
    width: 100%;
  }
  #carouselThird .owl-nav {
    width: 100% !important;
  }
  #carouselThird .owl-nav .owl-prev,
  #carouselThird .owl-nav .owl-next {
    width: 20% !important;
  }
}
